@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>See all the <a asp-controller="Movie" asp-action="GetAllMovies">movies</a>
        or Add a new <a asp-controller="Partner" asp-action="StreamPartnerAddRequest">Streaming Partner</a>.
    </p>
</div>
